/*Discover CSS */
.discover-component-wrapper {
    display: grid;
    grid-template-columns: repeat(12, auto);
    margin-top: 50px;
}

.filter {
    padding: 2em;
    grid-column: 2 / 3;
    background-color: rgba(71, 71, 71, 1);
    border-radius: 5px;
    height: min-content;
}

.filter h1,
.filter h2 {
    text-align: center;
    color: white;
    font-weight: 500;
}

.filter-container {
    width: 100%;

}

.discover-movies {
    grid-column: 4 / 13;
}

.discover-movies-content {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.discover-movies-content img {
    margin: 10px 0 10px 0;
}

.discover-separation-line {
    height: 2px;
    width: 95%;
    background-color: #AD7D62;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    display: flex;
    align-items: center;
    background-color: #474747;
    border: none;
    color: white;
    font-size: 20px;
    margin: 0 10px;
}

.buttons .current-page {
    font-size: 25px;
    background-color: transparent;
    color: white;
}

.input-range-div {
    display: grid;

}

.genres-div {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.genre-button {
    border: none;
    background-color: rgba(56, 81, 84, 1);
    color: white;
    font-family: inherit;
    margin: 5px;
    border-radius: 13px;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;

}

.input-range-div .range-input {
    color: rgb(173, 135, 98);

}

.discover-view-more-button {
    float: right;
    border: none;
    background-color: transparent;
    color: white;
    text-decoration: underline;
    font-family: inherit;
    font-size: 20px;
    cursor: pointer;
}