
.App {
    padding: 0;
    box-sizing: border-box;
    color: white;
    
}
.App-container {
    padding: 2em 0 2em 0;
    width: 100%;
}
.separation-line {
    height: 2px;
    width: 90%;
    margin: 15px auto;
    background-color: #AD7D62;
}

/* Movie Shell CSS*/
.Movies-h1 {
    font-size: 36px;
    margin:0;
    font-weight: 500;
    color: white;
}

/* Collapse */
.ArrowNotToggled {
    margin-left: 10px;
    font-size:20px;
    transform: rotate(0deg);
}
.ArrowToggled {
    margin-left: 10px;
    font-size:20px;
    transform: rotate(180deg);
}
.collapse-div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items:baseline;
    cursor: pointer;
    
    
}


/* content section */
.wrapper{
    display: grid;
    grid-template-columns:repeat(5,auto);
    padding: 15px 0 0 0;
}

.movieshell-container {
    padding: 1em 0 1em 0;
    margin: 0;
}
.movieshell-content {
    position:relative;
    width:200px;
    margin: 0 auto;
}

.poster-image {
    cursor: pointer;
    transform: 350ms ease-in;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    transform: 350ms ease-in;
    background-color:#1C1C1C;
    color: white;
    text-align: center;
    opacity: 0.9;
}
.text {
    padding: 0;
    margin: 0;
    word-wrap: wrap;
}
/* NAVBAR CSS*/

.navbar-container {
    margin: 0;
    width: 100%;
    background-color: #385154;

}

.navbar-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-links {
    width: 80%;
    margin: 0 200px 0 0;
    display: flex;
    justify-content: space-evenly;
}
.navbar-link {
    text-decoration: none;
    color: white;
    font-size: 24px;

}
.navbar-link:focus {
    text-decoration: underline;
}
.search-bar-div {
    position: relative;
    display: flex;
    align-items: center;
}
.search-bar {
    font-size: 16px;
    padding:  1em 2em 1em 2em;
    border-radius: 20px;
    background-color: rgba(140, 163, 166, 1);
    color: white;
    border: none;
}
#search-icon {
    color: white;
    position: absolute;
    font-size: 16px;
    right: 5%;

}
::-webkit-input-placeholder {
    color: white;
  }

/*Footer CSS*/
.footer-container {
    position: fixed;
    
    bottom: 0;
    width: 100%;
    background-color: #304042;
    padding: 0;
    margin: 0;
    z-index: 100;
}
.footer-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.linear-content {
    display:flex;
     align-items:center;
}

.tmdb-logo{
    display: flex;
    margin: 0;
    font-size: 36px;
    background: linear-gradient(90deg, #7CB896 -12.02%, #0AB3E4 137.5%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rectangle {
    margin: 0 20px 0 20px;
    background: linear-gradient(90deg, #7CB896 0%, #0AB3E4 100%);
    height: 16px;
    width: 65px;
    border-radius: 13px;

}


@media (max-width:1700px){
    .wrapper{
        grid-template-columns:repeat(5,auto);
    }
    .poster-image{
        width: 200px;
    }
    .movieshell-content {
        width: 200px;
    }
    .text {
        max-width: 200px;
    }

}
@media (max-width:1000px){
    .wrapper{
        grid-template-columns:repeat(3,auto);
    }
    .poster-image {
        width: 100px;
        height: 149px;
    }

}
@media (max-width:700px){
    .wrapper{
        grid-template-columns:repeat(2,auto);
    }

}